<div class="page-header">
  <h1>All songs <small></small></h1>
</div>

  <p>add songs <a href="/songs/new">here</a></p>
  <% @songs.each do |song| %>
    
<div class="row">
 <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-sm-4">
      <div class="song">
        <h3><a href="/songs/<%= song.id %>"><%= song.title %> <small>(by: <%= song.author %>)</small></a></h3>
        <p>
          <%= song.url %>
        </p>
      </div>
      </div>
    </div>
    </div>
  <% end %>