<!-- 

<div class="page-header">
  <h1>Wildy Popular Music Player <small></small></h1>
</div> -->

<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="https://pixabay.com/static/uploads/photo/2013/07/13/12/17/headphone-159569_960_720.png" alt="...">
      <div class="caption">
        <h3>The Jukebox</h3>
        <p>Click 'Add' to add songs to the list, or click 'All songs' to see a list of all songs currently on the list. </p>
        <p><a href="/songs/new" class="btn btn-primary" role="button">Add</a> <a href="/songs" class="btn btn-default" role="button">All songs</a></p>
      </div>
    </div>
  </div>
</div>

<!-- <p> Feel free to <a href="/songs/new">Add a song for free!</a> or you can see a list of all songs by clicking <a href="/songs">here</a></p> -->
