  


<div class="container-fluid">
  <div class="row">
    <h1 class="text-center"></h1>
  </div>
  <div class="container-fluid">
  <div class="row">
    <h1 class="text-center"></h1>
  </div>
</div>



<div class="container-fluid">
<div class="row">
  <div class="col-md-6 header-options">
    <h4><a class="text-center" href="/songs">List of songs</a></h4>
  </div>
  <div class="col-md-6 header-options">
    <h4><a class="text-center" href="/songs/new">Add a new song!</a></h4>
  </div>
</div>
</div>


